<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Calculadora para nota final</title>
</head>
<body>
    <div class="container">
        <div class="form_box">
            <h1>Calculadora para nota</h1>
            <p>Esta app web te ayuda a calcular tu nota final en una de tus clases.</p>
            <p>Ingrese las notas de sus quizes y exámenes. Solo se necesita un peso por cada grupo.</p>
            <p>OJO: Esta app no calcula solo una nota.</p>
            
            <form method="post" action="/calcular">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre">
            
        <div class="notas-contenedor">
            <div class="grupo-notas">    
                <h1>
                    <span>Nota</span>
                    <span> de quizes</span>
                </h1>
                <div id="quices-contenedor"></div>
                <button type="button" onclick="agregarQuiz()">Agregar</button>
                <label for="peso_quices">Peso total de los Quizes(%)</label>
                <input type="number" name="peso_quices" step="any" required>
            </div>
            
            <div class="grupo-notas">
                <h1>
                    <span>Nota</span>
                    <span>de examenes</span>
                </h1>
                <div id="examenes-contenedor"></div>
                <button type="button" onclick="agregarExamen()">Agregar</button>
                <label for="peso_examen">Peso total de los Examens(%)</label>
                <input type="number" name="peso_examen" step="any" required>
            </div>
        </div> 
                <br><br>
                 <button type ="submit">Calcular</button>
                 <button type ="reset">Limpiar</button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>